body {
  background-color: white;
}

header {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}

.stats {
  font-size: 18px;
  font-weight: 450;
  line-height: 3;
}

.row {
  justify-content: space-between;
}

img {
  width: 100%;
  max-width: 50px;
}
